@import "../scss/colors.scss";
@import "../scss/fonts.scss";

#modal {
  position: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.85); /* Black w/ opacity */
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

article {
  padding: 1rem;
  margin-top: 20rem;
  background: white;

  width: 70vw;
  max-width: 700px;
  margin: 10vh auto;
  text-align: justify;
  -webkit-box-shadow: 0px 0px 15px 10px $primary;
  box-shadow: 0px 0px 20px 5px black;
  h1 {
    text-align: center;
    font-size: 2.25rem;
  }
  img {
    max-width: 100%;
    max-height: 50vh;
    object-fit: cover;
  }
  p {
    padding: 1rem 2rem;
  }
  span {
    text-justify: inter-word;
    font-size: 1.25rem;
    line-height: 1.5;
    &.content {
      font-family: "Lato", sans-serif;
    }
  }
}

@media screen and (max-width: 700px) {
  article {
    width: 100vw;
  }
}
