@import "../scss/colors.scss";
@import "../scss/fonts.scss";

.modal {
  overflow-y: scroll;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.85); /* Black w/ opacity */
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

article {
  width: 100%;
  padding: 1rem;
  // margin-top: 20rem;
  background: white;

  width: 70vw;
  max-width: 700px;
  margin: 10vh auto;
  text-align: justify;
  -webkit-box-shadow: 0px 0px 15px 10px $primary;
  box-shadow: 0px 0px 20px 5px black;

  p.close-modal {
    margin: 0;
    padding: 0;
    text-align: end;
    position: relative;
    top: 0;
    bottom: 0;
    font-size: 2rem;
    line-height: 1rem;
    .icon {
      cursor: pointer;
      color: $alert;
    }
  }

  h1 {
    margin-top: 0;
    text-align: center;
    font-size: 2.25rem;
  }
  img {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
  }
  p,
  footer {
    padding: 1rem 2rem;
  }
  span {
    text-justify: inter-word;
    font-size: 1.25rem;
    line-height: 1.5;
    &.content {
      font-family: "Lato", sans-serif;
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    span {
      // min-width: 200px;
      flex-basis: 200px;
      &:last-of-type {
        text-align: end;
      }
    }
  }
}

@media screen and (max-width: 2000px) {
  article {
    margin: 5vh auto;
  }
}

@media screen and (max-width: 940px) {
  article {
    footer {
      span {
        flex-basis: 100%;
        text-align: center !important;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .modal {
    width: unset;
  }
  article {
    p {
      margin-top: 0;
    }
    span {
      font-size: 1.1rem;
    }
    h1 {
      font-size: 1.75rem;
      margin-bottom: 0.5rem;
    }
    padding: 0.5rem;
    margin: 0vh auto;
    width: 100vw;
    footer {
      span {
        font-size: 1.25rem;
      }
    }
  }

  p.close-modal {
    .icon {
      padding: 0 0.5rem;
    }
  }
}
