@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500;600&display=swap");



.App {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-family: "Teko", sans-serif;
  box-sizing: border-box;
  margin: 0;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}
